Following notebook has been curated from a short book I recently read named Advanced Python tips. Some really helpful python hacks, some of them are slightly complex but all in all a great read. 

I have condensed my learnings from the book in a single notebook below.

# Chapter 1 : Minimize for loop usage in Python

## List Comprehension

In [ ]:
# Concise and clean code using list comprehension
x = range(5)
y = [i ** 2 for i in x]
print(y)

[0, 1, 4, 9, 16]

In [ ]:
y_even = [i ** 2 for i in x if i % 2 == 0]
print(y_even)

[0, 4, 16]

In [ ]:
a = range(10)
b_squared_cubed = [i ** 2 if i % 2 == 0 else i ** 3 for i in a]
print(b_squared_cubed)

[0, 1, 4, 27, 16, 125, 36, 343, 64, 729]

## Dictionary Comprehension

In [ ]:
# Sometimes we need both the index in an array as well as the value. In such cases it is a good idea to enumerate the list rather 
# than indexing it.
X = ['A','B','C']
for i, val in enumerate(X):
  print("index is %d and value is %s" % (i,val))

index is 0 and value is A
index is 1 and value is B
index is 2 and value is C

In [ ]:
# The dictionary comprehension way
Y = [1,2,3,4,5,6]
{i:i**2 for i in Y}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}

In [ ]:
# Dictionary only for even values
Y = [1,2,3,4,5,6]
{i:i**2 for i in Y if i%2==0}

{2: 4, 4: 16, 6: 36}

In [ ]:
# Dictionary with squared values for even key and cubed values for odd key
Z = range(10)
{i:i**2 if i%2==0 else i**3 for i in Z}

{0: 0, 1: 1, 2: 4, 3: 27, 4: 16, 5: 125, 6: 36, 7: 343, 8: 64, 9: 729}

Use List Comprehensions and Dict Comprehensions when you need to use a for loop. Use enumerate when you need an array index.

# Chapter 2 : Python Defaultdict and Counter

## Counting the number of word occurences in a piece of text.

In [ ]:
text = "Myself Vaibhav Desai. I am twenty four years of age. I am a resident of India. I am an Engineer by profession. I am fond of Indian cuisines. I like to play guitar. I am also an avid reader and particularly like to read non-fiction books."

In [ ]:
# Naive Python dictionary implementation
word_count_dict = {}

for w in text.split(" "):
  if w in word_count_dict:
      word_count_dict[w] += 1
  else:
      word_count_dict[w] = 1

In [ ]:
word_count_dict

{'Desai.': 1,
 'Engineer': 1,
 'I': 6,
 'India.': 1,
 'Indian': 1,
 'Myself': 1,
 'Vaibhav': 1,
 'a': 1,
 'age.': 1,
 'also': 1,
 'am': 5,
 'an': 2,
 'and': 1,
 'avid': 1,
 'books.': 1,
 'by': 1,
 'cuisines.': 1,
 'fond': 1,
 'four': 1,
 'guitar.': 1,
 'like': 2,
 'non-fiction': 1,
 'of': 3,
 'particularly': 1,
 'play': 1,
 'profession.': 1,
 'read': 1,
 'reader': 1,
 'resident': 1,
 'to': 2,
 'twenty': 1,
 'years': 1}

In [ ]:
# Default dict implementation
from collections import defaultdict
word_count_dict = defaultdict(int)
for w in text.split(" "):
  word_count_dict[w] += 1

In [ ]:
word_count_dict

defaultdict(int,
            {'Desai.': 1,
             'Engineer': 1,
             'I': 6,
             'India.': 1,
             'Indian': 1,
             'Myself': 1,
             'Vaibhav': 1,
             'a': 1,
             'age.': 1,
             'also': 1,
             'am': 5,
             'an': 2,
             'and': 1,
             'avid': 1,
             'books.': 1,
             'by': 1,
             'cuisines.': 1,
             'fond': 1,
             'four': 1,
             'guitar.': 1,
             'like': 2,
             'non-fiction': 1,
             'of': 3,
             'particularly': 1,
             'play': 1,
             'profession.': 1,
             'read': 1,
             'reader': 1,
             'resident': 1,
             'to': 2,
             'twenty': 1,
             'years': 1})

In [ ]:
# Using Counter
from collections import Counter
word_count_dict = Counter()
for w in text.split(" "):
  word_count_dict[w] += 1

In [ ]:
word_count_dict

Counter({'Desai.': 1,
         'Engineer': 1,
         'I': 6,
         'India.': 1,
         'Indian': 1,
         'Myself': 1,
         'Vaibhav': 1,
         'a': 1,
         'age.': 1,
         'also': 1,
         'am': 5,
         'an': 2,
         'and': 1,
         'avid': 1,
         'books.': 1,
         'by': 1,
         'cuisines.': 1,
         'fond': 1,
         'four': 1,
         'guitar.': 1,
         'like': 2,
         'non-fiction': 1,
         'of': 3,
         'particularly': 1,
         'play': 1,
         'profession.': 1,
         'read': 1,
         'reader': 1,
         'resident': 1,
         'to': 2,
         'twenty': 1,
         'years': 1})

In [ ]:
# When using counters we can count the most freuent words in the text as well
word_count_dict.most_common(5)

[('I', 6), ('am', 5), ('of', 3), ('an', 2), ('like', 2)]

## Other uses of Counter

In [ ]:
# Counting characters
Counter("aaaabsvcgbbbcvgdggddddcmvjfcdnjxnaaaaa")

Counter({'a': 9,
         'b': 4,
         'c': 4,
         'd': 6,
         'f': 1,
         'g': 4,
         'j': 2,
         'm': 1,
         'n': 2,
         's': 1,
         'v': 3,
         'x': 1})

In [ ]:
# Counting python List elements
Counter([1,2,4,3,5,4,3,6,7,8,9,12])

Counter({1: 1, 2: 1, 3: 2, 4: 2, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1, 12: 1})

Why use defaultdict?

In a Counter, the value is always an integer. What if we wanted to parse through  list of tuples containing colors and fruits. And, wanted to create a list of key and list of values.

The main functionality provided by a default dict is that it defaults the key to empty/zero if it is not found in the defaultdict. An example is shown below:

In [ ]:
s = [('color', 'blue'), ('color', 'orange'),
('color', 'yellow'), ('fruit', 'banana'), ('fruit',
'orange'),('fruit','banana')]
d = defaultdict(list)
for k,v in s:
  d[k].append(v)

In [ ]:
print(d)

defaultdict(<class 'list'>, {'color': ['blue', 'orange', 'yellow'], 'fruit': ['banana', 'orange', 'banana']})

### Creating a function for what is alreay provided is not pythonic!!

# Chapter 3 : *args,**kwargs,decorators for Data Scientists

## *args

Putting it simply, one can use *args to give an arbitrary number of inputs to the function. An example is shown below.

In [ ]:
# Let's say we need to create a function that adds two numbers.
def adder(x,y):
  return x+y

adder(2,3)

5

In [ ]:
# What if we need to add three numbers.
def adder(x,y,z):
  return x+y+z

adder(1,4,5)

10

But, if we need to add unknown number of variables. We can use *args, *argv or *anyOtherName for that matter. Since, it is only the * that matters. Let's understand this by an example.

In [ ]:
def adder(*args):
  result = 0
  for arg in args:
    result+= arg
  return result

In [ ]:
adder(1,8,52,47,56,925,8)

1097

What *args does is that it takes all your arguments and provides a variable length argument list to the function which you can use when you want.

So, now one can put any number of arguments in the adder function above and can get the sum of all those variables as the result.

## **kwargs

In simple terms, you can use **kwargs to give an arbitrary number of keyworded inputs to your function and access them using a dictionary.

Let's understand this by means of an example.

In [ ]:
def myprint(name,age):
  print(f'{name} is {age} years old')

myprint('Mohan','26')

Mohan is 26 years old

In [ ]:
# For two names and two ages
def myprint(name1,age1,name2,age2):
  print(f'{name1} is {age1} years old')
  print(f'{name2} is {age2} years old')

myprint('Raj','30','Kumar','36')

Raj is 30 years old
Kumar is 36 years old

What if we do not know about the number of such inputs.

In [ ]:
def myprint(**kwargs):
  for k,v in kwargs.items():
    print(f'{k} is {v} years old.')

# This function can be called in the following manner.
myprint(Aman=25,Kiran=40,Kumar=36,Pritesh=45)

Aman is 25 years old.
Kiran is 40 years old.
Kumar is 36 years old.
Pritesh is 45 years old.

## Decorators

Decorators are functions that wrap another function thus modifying its behavior.

An example: Let us say we want to add custom functionality to some of our functions. The functionality is that whenever the function gets called the "**function name** begins" is printed and whenever the function ends the "**function name** ends" and time taken by the function is printed.

In [ ]:
# Assume our function is
def somefunc(a,b):
  output = a+b
  return output

We can add some print lines to all our functions to achieve this.

In [ ]:
import time
def somefunc(a,b):
  print("somefunc begins")
  start_time = time.time()
  output = a+b
  print("somefunc ends in ", time.time()-start_time,"secs")
  return output
  
somefunc(7,8)

somefunc begins
somefunc ends in  4.76837158203125e-07 secs

15

We can use decorators to wrap any function.

In [ ]:
from functools import wraps
def timer(func):
  @wraps(func)
  def wrapper(a,b):
    print(f"{func.__name__!r} begins")
    start_time = time.time()
    result = func(a,b)
    print(f"{func.__name__!r} ends in {time.time() - start_time} secs")
    return result
  return wrapper

This is how any decorator can be defined. functools help us in creating decorators using wraps. In essence, in the above decorator we do something before any function is called and something after any function is called.

Further, we can use this timer decorator to decorate our function somefunc.

In [ ]:
@timer
def anyfunc(a,b):
  return a*b

In [ ]:
anyfunc(3,6)

'anyfunc' begins
'anyfunc' ends in 2.86102294921875e-06 secs

18

Now, we can append @timer to each of our function for which we want to have the time printed.

## Connecting all the pieces

What if our function takes three arguments? Or many arguments? This is where everything in this chapter connects, using *args,**kwargs along with Decorators to wrap functions.

In [ ]:
# We change our decorator function in order to work with an arbitrary number of variables in the function

from functools import wraps
def timer(func):
  @wraps(func)
  def wrapper(*args,**kwargs):
    print(f"{func.__name__!r} begins")
    start_time = time.time()
    result = func(*args,**kwargs)
    print(f"{func.__name__!r} ends in {time.time()-start_time} secs")
    return result
  return wrapper

Now, our function can take any number of arguments and the decorator will still work.

This is just a single use case of a decorator. There are several ways one can use them.

In [ ]:
@timer
def mysolution(x,y,z,c,k):
  return ((((x*y)-z)/c)+k)

In [ ]:
mysolution(2,4,7,5,9)

'mysolution' begins
'mysolution' ends in 4.0531158447265625e-06 secs

9.2

# Chapter 4: Itertools, Generators and Generator Expressions

## The Problem Statement

Let's say that we need to run a for loop for over 100 million prime numbers.[Note : This problem statement could be extended to any case for example processing a million images or files in a database as well.]

How could we deal with such a problem?
We can create a list and keep all the prime numbers there, right? But, what about the memory such a list would occupy?

However it would be great if we could keep the last prime number we have checked and returns just the next prime number. This is where iterators could be of great help!

## The Iterator Solution

In [ ]:
# We create a class named primes and use it to generate primes.
def check_prime(number):
  for divisor in range(2, int(number **0.5)+1):
    if number % divisor == 0:
      return False
  return True    
class Primes:
  def __init__(self, max):
    #the maximum no. of primes we want generated
    self.max=max
    #start with this no. to check if it is prime
    self.number=1
    #No. of primes generated yet. We want to stop iteration when it reaches max
    self.primes_generated  = 0
  def __iter__(self):
    return self
  def __next__(self):
    self.number += 1    
    if self.primes_generated >= self.max:
      raise StopIteration
    elif check_prime(self.number):
      self.primes_generated += 1  
      return self.number
    else:
      return self.__next__()

In [ ]:
# We can then use this as:
prime_generator = Primes(10000000)

In [ ]:
#for x in prime_generator:
  # process here

Here, I have defined an iterator. This is how most of the functions like xrange or ImageGenerator work.

Every iterator needs to have:

1. an __iter__ method that returns self, and 

2. an __next__ method that returns the next value.

3. a StopIteration exception that signifies the ending of the iterator.

Every iterator takes the above form and we can tweak the functions to our liking in this boilerplate code to do what we want to do.

Also, we do not keep all the prime numbers in the memory just the state of the iterator like:
What max prime number we have returned and how many primes we have returned already.

But, it seems a little too much code to write. So, we can surely do better.

## The Generator Solution

Put simply, Generators provide us ways to write iterators easily usin the yield statement.

In [ ]:
def Primes(max):
  number = 1
  generated = 0
  while generated < max:
    number += 1
    if check_prime(number):
      generated += 1
      yield number

In [ ]:
# we can use this function as:
prime_generator = Primes(100)

In [ ]:
#for p in prime_generator:
   #process here

It is s much simpler to read. But what is yield?
Yield can be thought of as a return statement only as it returns the value.

But, when a yield happens the state of the function is also saved in the memory. So at every iteration in for loop the function variables like number, generated and max are stored somewhere in memory.

So what is happening is that the above function is taking care of all the boilerplate code for us by using the yield statement.

Much more pythonic than the iterations approach.

# Generator Expression Solution

While not explicitly better than the previous solution but we  can also use Generator expression for the same task. But, we might also lose some functionality here. They work exactly like List Comprehensions but they don't keep the whole list in memory.

In [ ]:
primes = (i for i in range(1,100000000) if check_prime(i))

In [ ]:
#for x in primes:
  # do something

Functionality Loss: We can generate primes till 10M. But, we can't generate 10M primes. One can only do so much with generator expressions.

But, generator expressions let us do some pretty cool things.

Let's say we need all the Pythagorean triplets lower than 1000. How can we get it?

Using a generator, this can be done easily.

In [ ]:
def triplet(n): #Find all the pythagorean triplets
  for a in range(n):
    for b in range(a):
      for c in range(b):
          if a*a == b*b + c*c:
            yield(a,b,c)

In [ ]:
triplet_generator = triplet(500)

In [ ]:
for x in triplet_generator:
  print(x)

(5, 4, 3)
(10, 8, 6)
(13, 12, 5)
(15, 12, 9)
(17, 15, 8)
(20, 16, 12)
(25, 20, 15)
(25, 24, 7)
(26, 24, 10)
(29, 21, 20)
(30, 24, 18)
(34, 30, 16)
(35, 28, 21)
(37, 35, 12)
(39, 36, 15)
(40, 32, 24)
(41, 40, 9)
(45, 36, 27)
(50, 40, 30)
(50, 48, 14)
(51, 45, 24)
(52, 48, 20)
(53, 45, 28)
(55, 44, 33)
(58, 42, 40)
(60, 48, 36)
(61, 60, 11)
(65, 52, 39)
(65, 56, 33)
(65, 60, 25)
(65, 63, 16)
(68, 60, 32)
(70, 56, 42)
(73, 55, 48)
(74, 70, 24)
(75, 60, 45)
(75, 72, 21)
(78, 72, 30)
(80, 64, 48)
(82, 80, 18)
(85, 68, 51)
(85, 75, 40)
(85, 77, 36)
(85, 84, 13)
(87, 63, 60)
(89, 80, 39)
(90, 72, 54)
(91, 84, 35)
(95, 76, 57)
(97, 72, 65)
(100, 80, 60)
(100, 96, 28)
(101, 99, 20)
(102, 90, 48)
(104, 96, 40)
(105, 84, 63)
(106, 90, 56)
(109, 91, 60)
(110, 88, 66)
(111, 105, 36)
(113, 112, 15)
(115, 92, 69)
(116, 84, 80)
(117, 108, 45)
(119, 105, 56)
(120, 96, 72)
(122, 120, 22)
(123, 120, 27)
(125, 100, 75)
(125, 117, 44)
(125, 120, 35)
(130, 104, 78)
(130, 112, 66)
(130, 120, 50)
(130, 126, 32)
(135, 108, 81)
(136, 120, 64)
(137, 105, 88)
(140, 112, 84)
(143, 132, 55)
(145, 105, 100)
(145, 116, 87)
(145, 143, 24)
(145, 144, 17)
(146, 110, 96)
(148, 140, 48)
(149, 140, 51)
(150, 120, 90)
(150, 144, 42)
(153, 135, 72)
(155, 124, 93)
(156, 144, 60)
(157, 132, 85)
(159, 135, 84)
(160, 128, 96)
(164, 160, 36)
(165, 132, 99)
(169, 120, 119)
(169, 156, 65)
(170, 136, 102)
(170, 150, 80)
(170, 154, 72)
(170, 168, 26)
(173, 165, 52)
(174, 126, 120)
(175, 140, 105)
(175, 168, 49)
(178, 160, 78)
(180, 144, 108)
(181, 180, 19)
(182, 168, 70)
(183, 180, 33)
(185, 148, 111)
(185, 153, 104)
(185, 175, 60)
(185, 176, 57)
(187, 165, 88)
(190, 152, 114)
(193, 168, 95)
(194, 144, 130)
(195, 156, 117)
(195, 168, 99)
(195, 180, 75)
(195, 189, 48)
(197, 195, 28)
(200, 160, 120)
(200, 192, 56)
(202, 198, 40)
(203, 147, 140)
(204, 180, 96)
(205, 156, 133)
(205, 164, 123)
(205, 187, 84)
(205, 200, 45)
(208, 192, 80)
(210, 168, 126)
(212, 180, 112)
(215, 172, 129)
(218, 182, 120)
(219, 165, 144)
(220, 176, 132)
(221, 171, 140)
(221, 195, 104)
(221, 204, 85)
(221, 220, 21)
(222, 210, 72)
(225, 180, 135)
(225, 216, 63)
(226, 224, 30)
(229, 221, 60)
(230, 184, 138)
(232, 168, 160)
(233, 208, 105)
(234, 216, 90)
(235, 188, 141)
(238, 210, 112)
(240, 192, 144)
(241, 209, 120)
(244, 240, 44)
(245, 196, 147)
(246, 240, 54)
(247, 228, 95)
(250, 200, 150)
(250, 234, 88)
(250, 240, 70)
(255, 204, 153)
(255, 225, 120)
(255, 231, 108)
(255, 252, 39)
(257, 255, 32)
(259, 245, 84)
(260, 208, 156)
(260, 224, 132)
(260, 240, 100)
(260, 252, 64)
(261, 189, 180)
(265, 212, 159)
(265, 225, 140)
(265, 247, 96)
(265, 264, 23)
(267, 240, 117)
(269, 260, 69)
(270, 216, 162)
(272, 240, 128)
(273, 252, 105)
(274, 210, 176)
(275, 220, 165)
(275, 264, 77)
(277, 252, 115)
(280, 224, 168)
(281, 231, 160)
(285, 228, 171)
(286, 264, 110)
(287, 280, 63)
(289, 240, 161)
(289, 255, 136)
(290, 210, 200)
(290, 232, 174)
(290, 286, 48)
(290, 288, 34)
(291, 216, 195)
(292, 220, 192)
(293, 285, 68)
(295, 236, 177)
(296, 280, 96)
(298, 280, 102)
(299, 276, 115)
(300, 240, 180)
(300, 288, 84)
(303, 297, 60)
(305, 224, 207)
(305, 244, 183)
(305, 273, 136)
(305, 300, 55)
(306, 270, 144)
(310, 248, 186)
(312, 288, 120)
(313, 312, 25)
(314, 264, 170)
(315, 252, 189)
(317, 308, 75)
(318, 270, 168)
(319, 231, 220)
(320, 256, 192)
(323, 285, 152)
(325, 253, 204)
(325, 260, 195)
(325, 280, 165)
(325, 300, 125)
(325, 312, 91)
(325, 315, 80)
(325, 323, 36)
(327, 273, 180)
(328, 320, 72)
(330, 264, 198)
(333, 315, 108)
(335, 268, 201)
(337, 288, 175)
(338, 240, 238)
(338, 312, 130)
(339, 336, 45)
(340, 272, 204)
(340, 300, 160)
(340, 308, 144)
(340, 336, 52)
(345, 276, 207)
(346, 330, 104)
(348, 252, 240)
(349, 299, 180)
(350, 280, 210)
(350, 336, 98)
(351, 324, 135)
(353, 272, 225)
(355, 284, 213)
(356, 320, 156)
(357, 315, 168)
(360, 288, 216)
(362, 360, 38)
(364, 336, 140)
(365, 275, 240)
(365, 292, 219)
(365, 357, 76)
(365, 364, 27)
(366, 360, 66)
(369, 360, 81)
(370, 296, 222)
(370, 306, 208)
(370, 350, 120)
(370, 352, 114)
(371, 315, 196)
(373, 275, 252)
(374, 330, 176)
(375, 300, 225)
(375, 351, 132)
(375, 360, 105)
(377, 273, 260)
(377, 345, 152)
(377, 348, 145)
(377, 352, 135)
(380, 304, 228)
(385, 308, 231)
(386, 336, 190)
(388, 288, 260)
(389, 340, 189)
(390, 312, 234)
(390, 336, 198)
(390, 360, 150)
(390, 378, 96)
(391, 345, 184)
(394, 390, 56)
(395, 316, 237)
(397, 325, 228)
(400, 320, 240)
(400, 384, 112)
(401, 399, 40)
(403, 372, 155)
(404, 396, 80)
(405, 324, 243)
(406, 294, 280)
(407, 385, 132)
(408, 360, 192)
(409, 391, 120)
(410, 312, 266)
(410, 328, 246)
(410, 374, 168)
(410, 400, 90)
(411, 315, 264)
(415, 332, 249)
(416, 384, 160)
(420, 336, 252)
(421, 420, 29)
(424, 360, 224)
(425, 304, 297)
(425, 340, 255)
(425, 375, 200)
(425, 385, 180)
(425, 408, 119)
(425, 416, 87)
(425, 420, 65)
(427, 420, 77)
(429, 396, 165)
(430, 344, 258)
(433, 408, 145)
(435, 315, 300)
(435, 348, 261)
(435, 429, 72)
(435, 432, 51)
(436, 364, 240)
(438, 330, 288)
(440, 352, 264)
(442, 342, 280)
(442, 390, 208)
(442, 408, 170)
(442, 440, 42)
(444, 420, 144)
(445, 356, 267)
(445, 396, 203)
(445, 400, 195)
(445, 437, 84)
(447, 420, 153)
(449, 351, 280)
(450, 360, 270)
(450, 432, 126)
(451, 440, 99)
(452, 448, 60)
(455, 364, 273)
(455, 392, 231)
(455, 420, 175)
(455, 441, 112)
(457, 425, 168)
(458, 442, 120)
(459, 405, 216)
(460, 368, 276)
(461, 380, 261)
(464, 336, 320)
(465, 372, 279)
(466, 416, 210)
(468, 432, 180)
(470, 376, 282)
(471, 396, 255)
(475, 380, 285)
(475, 456, 133)
(476, 420, 224)
(477, 405, 252)
(480, 384, 288)
(481, 360, 319)
(481, 444, 185)
(481, 455, 156)
(481, 480, 31)
(482, 418, 240)
(485, 360, 325)
(485, 388, 291)
(485, 476, 93)
(485, 483, 44)
(488, 480, 88)
(490, 392, 294)
(492, 480, 108)
(493, 357, 340)
(493, 435, 232)
(493, 468, 155)
(493, 475, 132)
(494, 456, 190)
(495, 396, 297)

Or, we could have used a generator expression here.

In [ ]:
triplet_generator = ((a,b,c) for a in range(500) for b in range(a) for c in range(b) if a*a == b*b +c*c)

In [ ]:
for x in triplet_generator:
  print(x)

(5, 4, 3)
(10, 8, 6)
(13, 12, 5)
(15, 12, 9)
(17, 15, 8)
(20, 16, 12)
(25, 20, 15)
(25, 24, 7)
(26, 24, 10)
(29, 21, 20)
(30, 24, 18)
(34, 30, 16)
(35, 28, 21)
(37, 35, 12)
(39, 36, 15)
(40, 32, 24)
(41, 40, 9)
(45, 36, 27)
(50, 40, 30)
(50, 48, 14)
(51, 45, 24)
(52, 48, 20)
(53, 45, 28)
(55, 44, 33)
(58, 42, 40)
(60, 48, 36)
(61, 60, 11)
(65, 52, 39)
(65, 56, 33)
(65, 60, 25)
(65, 63, 16)
(68, 60, 32)
(70, 56, 42)
(73, 55, 48)
(74, 70, 24)
(75, 60, 45)
(75, 72, 21)
(78, 72, 30)
(80, 64, 48)
(82, 80, 18)
(85, 68, 51)
(85, 75, 40)
(85, 77, 36)
(85, 84, 13)
(87, 63, 60)
(89, 80, 39)
(90, 72, 54)
(91, 84, 35)
(95, 76, 57)
(97, 72, 65)
(100, 80, 60)
(100, 96, 28)
(101, 99, 20)
(102, 90, 48)
(104, 96, 40)
(105, 84, 63)
(106, 90, 56)
(109, 91, 60)
(110, 88, 66)
(111, 105, 36)
(113, 112, 15)
(115, 92, 69)
(116, 84, 80)
(117, 108, 45)
(119, 105, 56)
(120, 96, 72)
(122, 120, 22)
(123, 120, 27)
(125, 100, 75)
(125, 117, 44)
(125, 120, 35)
(130, 104, 78)
(130, 112, 66)
(130, 120, 50)
(130, 126, 32)
(135, 108, 81)
(136, 120, 64)
(137, 105, 88)
(140, 112, 84)
(143, 132, 55)
(145, 105, 100)
(145, 116, 87)
(145, 143, 24)
(145, 144, 17)
(146, 110, 96)
(148, 140, 48)
(149, 140, 51)
(150, 120, 90)
(150, 144, 42)
(153, 135, 72)
(155, 124, 93)
(156, 144, 60)
(157, 132, 85)
(159, 135, 84)
(160, 128, 96)
(164, 160, 36)
(165, 132, 99)
(169, 120, 119)
(169, 156, 65)
(170, 136, 102)
(170, 150, 80)
(170, 154, 72)
(170, 168, 26)
(173, 165, 52)
(174, 126, 120)
(175, 140, 105)
(175, 168, 49)
(178, 160, 78)
(180, 144, 108)
(181, 180, 19)
(182, 168, 70)
(183, 180, 33)
(185, 148, 111)
(185, 153, 104)
(185, 175, 60)
(185, 176, 57)
(187, 165, 88)
(190, 152, 114)
(193, 168, 95)
(194, 144, 130)
(195, 156, 117)
(195, 168, 99)
(195, 180, 75)
(195, 189, 48)
(197, 195, 28)
(200, 160, 120)
(200, 192, 56)
(202, 198, 40)
(203, 147, 140)
(204, 180, 96)
(205, 156, 133)
(205, 164, 123)
(205, 187, 84)
(205, 200, 45)
(208, 192, 80)
(210, 168, 126)
(212, 180, 112)
(215, 172, 129)
(218, 182, 120)
(219, 165, 144)
(220, 176, 132)
(221, 171, 140)
(221, 195, 104)
(221, 204, 85)
(221, 220, 21)
(222, 210, 72)
(225, 180, 135)
(225, 216, 63)
(226, 224, 30)
(229, 221, 60)
(230, 184, 138)
(232, 168, 160)
(233, 208, 105)
(234, 216, 90)
(235, 188, 141)
(238, 210, 112)
(240, 192, 144)
(241, 209, 120)
(244, 240, 44)
(245, 196, 147)
(246, 240, 54)
(247, 228, 95)
(250, 200, 150)
(250, 234, 88)
(250, 240, 70)
(255, 204, 153)
(255, 225, 120)
(255, 231, 108)
(255, 252, 39)
(257, 255, 32)
(259, 245, 84)
(260, 208, 156)
(260, 224, 132)
(260, 240, 100)
(260, 252, 64)
(261, 189, 180)
(265, 212, 159)
(265, 225, 140)
(265, 247, 96)
(265, 264, 23)
(267, 240, 117)
(269, 260, 69)
(270, 216, 162)
(272, 240, 128)
(273, 252, 105)
(274, 210, 176)
(275, 220, 165)
(275, 264, 77)
(277, 252, 115)
(280, 224, 168)
(281, 231, 160)
(285, 228, 171)
(286, 264, 110)
(287, 280, 63)
(289, 240, 161)
(289, 255, 136)
(290, 210, 200)
(290, 232, 174)
(290, 286, 48)
(290, 288, 34)
(291, 216, 195)
(292, 220, 192)
(293, 285, 68)
(295, 236, 177)
(296, 280, 96)
(298, 280, 102)
(299, 276, 115)
(300, 240, 180)
(300, 288, 84)
(303, 297, 60)
(305, 224, 207)
(305, 244, 183)
(305, 273, 136)
(305, 300, 55)
(306, 270, 144)
(310, 248, 186)
(312, 288, 120)
(313, 312, 25)
(314, 264, 170)
(315, 252, 189)
(317, 308, 75)
(318, 270, 168)
(319, 231, 220)
(320, 256, 192)
(323, 285, 152)
(325, 253, 204)
(325, 260, 195)
(325, 280, 165)
(325, 300, 125)
(325, 312, 91)
(325, 315, 80)
(325, 323, 36)
(327, 273, 180)
(328, 320, 72)
(330, 264, 198)
(333, 315, 108)
(335, 268, 201)
(337, 288, 175)
(338, 240, 238)
(338, 312, 130)
(339, 336, 45)
(340, 272, 204)
(340, 300, 160)
(340, 308, 144)
(340, 336, 52)
(345, 276, 207)
(346, 330, 104)
(348, 252, 240)
(349, 299, 180)
(350, 280, 210)
(350, 336, 98)
(351, 324, 135)
(353, 272, 225)
(355, 284, 213)
(356, 320, 156)
(357, 315, 168)
(360, 288, 216)
(362, 360, 38)
(364, 336, 140)
(365, 275, 240)
(365, 292, 219)
(365, 357, 76)
(365, 364, 27)
(366, 360, 66)
(369, 360, 81)
(370, 296, 222)
(370, 306, 208)
(370, 350, 120)
(370, 352, 114)
(371, 315, 196)
(373, 275, 252)
(374, 330, 176)
(375, 300, 225)
(375, 351, 132)
(375, 360, 105)
(377, 273, 260)
(377, 345, 152)
(377, 348, 145)
(377, 352, 135)
(380, 304, 228)
(385, 308, 231)
(386, 336, 190)
(388, 288, 260)
(389, 340, 189)
(390, 312, 234)
(390, 336, 198)
(390, 360, 150)
(390, 378, 96)
(391, 345, 184)
(394, 390, 56)
(395, 316, 237)
(397, 325, 228)
(400, 320, 240)
(400, 384, 112)
(401, 399, 40)
(403, 372, 155)
(404, 396, 80)
(405, 324, 243)
(406, 294, 280)
(407, 385, 132)
(408, 360, 192)
(409, 391, 120)
(410, 312, 266)
(410, 328, 246)
(410, 374, 168)
(410, 400, 90)
(411, 315, 264)
(415, 332, 249)
(416, 384, 160)
(420, 336, 252)
(421, 420, 29)
(424, 360, 224)
(425, 304, 297)
(425, 340, 255)
(425, 375, 200)
(425, 385, 180)
(425, 408, 119)
(425, 416, 87)
(425, 420, 65)
(427, 420, 77)
(429, 396, 165)
(430, 344, 258)
(433, 408, 145)
(435, 315, 300)
(435, 348, 261)
(435, 429, 72)
(435, 432, 51)
(436, 364, 240)
(438, 330, 288)
(440, 352, 264)
(442, 342, 280)
(442, 390, 208)
(442, 408, 170)
(442, 440, 42)
(444, 420, 144)
(445, 356, 267)
(445, 396, 203)
(445, 400, 195)
(445, 437, 84)
(447, 420, 153)
(449, 351, 280)
(450, 360, 270)
(450, 432, 126)
(451, 440, 99)
(452, 448, 60)
(455, 364, 273)
(455, 392, 231)
(455, 420, 175)
(455, 441, 112)
(457, 425, 168)
(458, 442, 120)
(459, 405, 216)
(460, 368, 276)
(461, 380, 261)
(464, 336, 320)
(465, 372, 279)
(466, 416, 210)
(468, 432, 180)
(470, 376, 282)
(471, 396, 255)
(475, 380, 285)
(475, 456, 133)
(476, 420, 224)
(477, 405, 252)
(480, 384, 288)
(481, 360, 319)
(481, 444, 185)
(481, 455, 156)
(481, 480, 31)
(482, 418, 240)
(485, 360, 325)
(485, 388, 291)
(485, 476, 93)
(485, 483, 44)
(488, 480, 88)
(490, 392, 294)
(492, 480, 108)
(493, 357, 340)
(493, 435, 232)
(493, 468, 155)
(493, 475, 132)
(494, 456, 190)
(495, 396, 297)

Iterators and Generators provide us a way to reduce the memory footprint in python.

How do we decide which one to choose?

Whenever, such a dilemma is encountered, one can think in terms of functionality vs readability. Generally, 

Functionality wise : Iterators > Generators > Generator Expressions
Readability wise : Iterators < Generators < Generator Expressions

#Chapter 5: How and Why to use f strings in Python3?

## 3 common ways of printing

### 1. Concatenate:
A naive and clumsy way is to simply use '+' for concatenation in the print function. Also, we need to convert our numeric variables into string due to which the code readability suffers too.

In [ ]:
name = "Andy"
age = 30 
print("I am "+ name + ". I am " + str(age) + " years old.")

I am Andy. I am 30 years old.

### 2. % format:
The second option is to use % formatting. But, it also has problems. For one, it is not readable. You would need to look at the first %s and try to find the corresponding variable in the list at the end. And imagine if you have a long list of variables that you may want to print.

In [ ]:
print("I am %s. I am %s years old" % (name, age))

I am Andy. I am 30 years old

### 3. str.format(): 
Next comes the way that has been used in most python 3 codes and is probably the standard of printing in python. Using str.format()

In [ ]:
print("I am {}. I am {} years old".format(name,age))

I am Andy. I am 30 years old

Or, using dictionaries with str.format()

In [ ]:
data = {'name':'Andy','age': 30}
print("I am {name}. I am {age} years old".format(**data))

I am Andy. I am 30 years old

## The f strings way

In [ ]:
print(f"I am {name}. I am {age} years old.")

I am Andy. I am 30 years old.

We just have to append 'f' at the start of the string and use {} to include our variable name, and we get the required results. An added functionality that f string provides is that we can put expressions in the {} brackets.

In [ ]:
# for example
num1 = 4
num2 = 5
print(f"The sum of {num1} and {num2} is {num1+num2}")

The sum of 4 and 5 is 9

This is quite useful as one can use an sort of expressions inside these brackets. **The expression can contain dictionaries or functions.**

In [ ]:
# for example
def totalFruits(apples,oranges):
  return apples+oranges

data = {'name':'Andy', 'age':30}

apples = 20
oranges = 30

print(f"{data['name']} aged {data['age']} has {totalFruits(apples,oranges)} fruits.")

Andy aged 30 has 50 fruits.

Also, you can use ''' to use **multiline strings.**

In [ ]:
num1 = 4
num2 = 5
print(f'''The sum of
{num1} and
{num2} is 
{num1+num2}.''')

The sum of
4 and
5 is
9.

An everyday use case while formatting strings is to **format floats.** You can do that using fstring as follows:

In [ ]:
numFloat = 10.23687
print(f"Printing Float with 2 decimals : {numFloat:.2f}")

Printing Float with 2 decimals : 10.24